<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %} 
        {% block additional_head %} {% endblock %}
    </head>
    <body>
        <div id="topbar">
            <div class="topbar">
                <ul>
                    <div class="_li"><button onclick="if (window.location.pathname !== '/config/') window.location.replace('/config/')">Настройки</button></div>
                    <div class="_li"><button onclick="window.open('/update/', '_blank')">Обновить файл на сервере</button></div>
                    <div class="_li"><button onclick="if (window.location.pathname !== '/upload/') window.location.replace('/upload/')">Загрузить файл</button></div>
                    <div class="_li"><button onclick="if (window.location.pathname !== '/custom_iframe/') window.location.replace('/custom_iframe/')">Custom Iframe</button></div>
                    <div class="_li right"><button onclick="if (window.location.pathname !== '/logout/') window.location.replace('/logout/')">Выйти</button></div>
                    <div class="_li right dropdown">
                        <button onclick="show_tools()">Инструменты</button>
                    </div>
                    {% block topbar %}
                    {% endblock %}
                    {%- for func in config.custom_functions -%}
                        <div class="_li"><button onclick="custom_function(this)" id="{{ func }}">{{ func }}</button></div>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div class="popup_container"></div>
        <script type="text/javascript">
const custom_function_url = '/custom_function/'
const tools_url = '/get_tools/'
function custom_function(elem) {
    let name = elem.id
    let popup_container = document.getElementsByClassName('popup_container')[0]
    fetch(custom_function_url, {
        method: 'POST',
        body: JSON.stringify({"name": name}),
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        }
    })
        .then(response=>{
            if (response.ok) {
                response.text().then(data=>{
                    popup_container.innerHTML = '<div class="popup__bg" onclick="close_popup(this)"><div class="popup"><h3>Успешно</h3>'+data.toString()+'</div></div>';
                    popupBg = popup_container.children[0];
                    popup = popupBg.children[0];
                    popupBg.classList.add('active');
                    popup.classList.add('active');
                })
            } else {
                response.text().then(error=>{
                    popup_container.innerHTML = '<div class="popup__bg" onclick="close_popup(this)"><div class="popup"><h3>Ошибка</h3>Ошибка сервера или соединения: '+error.toString()+'</div></div>';
                    popupBg = popup_container.children[0];
                    popup = popupBg.children[0];
                    popupBg.classList.add('active');
                    popup.classList.add('active');
                })
            }
        })
        .catch((error) => {
            popup_container.innerHTML = '<div class="popup__bg" onclick="close_popup(this)"><div class="popup"><h3>Ошибка</h3>Непредвиденная ошибка: '+error.toString()+'</div></div>';
            popupBg = popup_container.children[0];
            popup = popupBg.children[0];
            popupBg.classList.add('active');
            popup.classList.add('active');
        })
}
function close_popup(elem) {
    if (!elem.children[0].classList.contains('clicked')) {
        elem.classList.remove('active'); // Убираем активный класс с фона
        elem.children[0].classList.remove('active'); // И с окна
    } else {
        elem.children[0].classList.remove('clicked');
    }
}

function show_tools() {
    let popup_container = document.getElementsByClassName('popup_container')[0]
    fetch(tools_url)
        .then(response=>{
            if (response.ok) {
                response.text().then(data=>{
                    popup_container.innerHTML = '<div class="popup__bg" onclick="close_popup(this)"><div class="popup"><h3>Инструменты:</h3>'+data.toString()+'</div></div>';
                    popupBg = popup_container.children[0];
                    popup = popupBg.children[0];
                    popupBg.classList.add('active');
                    popup.classList.add('active');
                    saved();
                })
            } else {
                response.text().then(error=>{
                    popup_container.innerHTML = '<div class="popup__bg" onclick="close_popup(this)"><div class="popup"><h3>Ошибка</h3>Ошибка сервера или соединения: '+error.toString()+'</div></div>';
                    popupBg = popup_container.children[0];
                    popup = popupBg.children[0];
                    popupBg.classList.add('active');
                    popup.classList.add('active');
                })
            }
        })
        .catch((error) => {
            popup_container.innerHTML = '<div class="popup__bg" onclick="close_popup(this)"><div class="popup"><h3>Ошибка</h3>Непредвиденная ошибка: '+error.toString()+'</div></div>';
            popupBg = popup_container.children[0];
            popup = popupBg.children[0];
            popupBg.classList.add('active');
            popup.classList.add('active');
        })
}
        </script>
        {% block scripts %} {% endblock %}
    </body>
    <div style="display: none;" id="program_info">
        {% if program_info %}
        Program name: {{ program_info.name }}<br> Program version: {{ program_info.version }}<br> Modification: {{ program_info.modification }}<br> Version saved at: {{ program_info.saved }}<br> Contact info: {{ program_info.contact_info }}<br>
        {% else %}
            {%if config %}
            Program name: {{ config.program_info.name }}<br> Program version: {{ config.program_info.version }}<br> Modification: {{ config.program_info.modification }}<br> Version saved at: {{ config.program_info.saved }}<br> Contact info: {{ config.program_info.contact_info }}<br>
            {% endif %}
        {% endif %}
    </div>
</html>