<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Войти в систему</title>
  </head>
  <body>
    <div class="login_container">
        <div class="login_container_inner">
            {% if not_valid %}
                <p class="invalid_form_data">Неверный текущий пароль или новый пароль не совпадает с повторением!</p>
            {% endif %}
            <form class="login_form" action="/cfg_change_psswd/" method="POST">
                <div class="form_element">
                    <div class="form_element_title">Текущий пароль:</div>
                    <input class="form_element_input" type="password" name="password" required autocomplete="on">
                </div>
                <div class="form_element">
                    <div class="form_element_title">Новый пароль:</div>
                    <input class="form_element_input" type="password" name="password_new" required autocomplete="on">
                </div>
                <div class="form_element">
                    <div class="form_element_title">Повторите:</div>
                    <input class="form_element_input" type="password" name="password_new_check" required autocomplete="on">
                </div>
                <div class="form_element">
                    <input class="from_submit" type="submit" value="Изменить пароль">
                </div>
            </form>
        </div>
    </div>
  </body>
</html>