{% extends "render_base.html" %} {% block title %}Расписание{% endblock %} 
{% block additional_head %}
{% if is_mobile %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timetable_mobile.css') }}">
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timetable.css') }}">
{% endif %}
{% endblock %} 
{% block content %}<div id="timetable_container">{% if message %}<h1 style="color:red">{{ message }}</h1>{% endif %}</div>{% endblock %} 
{% block footer %}<ul>{% for item in parallels %} {% if item in show %}<button class="footer_button parallel_btn" name="{{ item }}" onclick="load_parallel(this)">{{ item }}</button>{% endif %} {% endfor %}<button class="footer_button parallel_btn" onclick="load_teachers()">Учителя</button>
    {% if bells %}<button class="footer_button parallel_btn" id="show_bells_btn" style="display: none" onclick="show_bells()">Звонки</button>{% endif %}
    {% if config.carousel and ((config.carousel_mobile and is_mobile) or (not(is_mobile))) %}
        <button class="footer_button parallel_btn" id="show_carousel" onclick="show_carousel()">Карусель</button>
    {% endif %}</ul>
{% endblock %} 
{% block scripts %}
<div class="popup_container"></div>
<div id="bells_table" style="display: none">
    <div class="inline_element bells_table_inner" style="text-align: center; width: 100%">
        {% if config.second_shift_delay != 0 %}
            <div class="inline_element">
                <h4>Первая смена</h4>
                <table class="inner_timetable in_popup">
                {%- for num in bells -%}
                    <tr class="__lesson_cell" true_num="{{ num }}">
                        <td class="lesson_num">
                            {% if num | int > config.second_shift_delay %}
                                {{num|int - config.second_shift_delay}}
                            {% else %}
                                {{num}}
                            {% endif %}
                        </td>
                        <td class="lesson_val" style="text-align: left">{{bells[num][0]}}-{{bells[num][1]}}
                            {% if bells[num][2] != None %}
                                <br>{{bells[num][2]}}
                            {% endif %}
                        </td>
                    </tr>
                    {% if loop.index == config.second_shift_delay %}
                    </table>
                    </div>
                    <div class="inline_element">
                        <h4>Вторая смена</h4>
                        <table class="inner_timetable in_popup">
                    {% endif %}
                {%- endfor -%}
                </table>
            </div>
        {% else %}
            <table class="inner_timetable in_popup">
            {%- for num in bells -%}
                <tr>
                    <td class="lesson_num">{{num}}</td>
                    <td class="lesson_val">{{bells[num]}}</td>
                </tr>
            {%- endfor -%}
            </table>
        {% endif %}
        <p>Цветовые обозначения: <span class="next_lesson">Следующий (после перемены)</span>  <span class="ongoing_lesson">Текущий</span></p>
    </div>
</div>
<div id="carousel_config" style="display: none">
{"carousel": {{ config.carousel }}, "carousel_after": {{ config.carousel_after }}, "carousel_delay": {{ config.carousel_delay }}, "carousel_interactive": {{ config.carousel_interactive }}}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/resizer.js') }}"></script><script type="text/javascript" src="{{ url_for('static', filename='js/manager.js') }}"></script>{% endblock %}