body {
    background-image: url('/static/img/background_img.jpg');
    background-size: 100vw 100vh;
}

#footer {
    background-color: #0B9CB2;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 10%;
    white-space: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    max-width: 10%;
}

#footer ul {
    padding-top: 5%;
    padding-left: 1%;
}

#topbar {
    background-color: #0B9CB2;
    position: fixed;
    left: 10%;
    top: 0;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 90%;
    height: 5%;
    max-height: 5%;
}

.clockpage
{  
    font-family: 'Titillium Web', sans-serif;
    padding-inline: 10px;
    font-weight: bold;
    font-size: 3.5vh;
}
#dayOfWeek
{   
    padding-inline: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3vh;
}

#content {
    position: absolute;
    top: 10%;
    left: 10%;
}

.footer_button {
    display: inline;
    padding-top: 5%;
}

.parallel_btn {
    border: 3px solid rgb(105, 225, 255); /* Рамка вокруг текста */
    border-radius: 10px;
    background-color: rgb(176, 228, 248);
    min-width: 90%;
    max-width: 90%;
    color: black;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
}

button.parallel_btn:hover {
    background-color: rgb(152, 206, 228);
}


.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.1s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.1s all;
}

.popup {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    background: rgb(255, 255, 255, 1.0);
    font-size: 3vh;
    width: 90vw;
    min-width: 250px;
    max-height: 75vh;
    padding: 30px;
    transition: 0.1s all;
    border-radius: 15px;
    overflow: auto;
}

.popup.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.1s all;
}


.carousel_popup {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    background: rgb(255, 255, 255, 1.0);
    font-size: 3vh;
    width: 80vw;
    height: 60vh;
    padding: 30px;
    transition: 0.1s all;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
}

.carousel_popup.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.1s all;
}

#carousel_data {
    display: flex;
    position: fixed;
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
    justify-content: center;
    align-items: center;
}

.carousel_elem {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.carousel_arrow {
    position: fixed;
    top: 2%;
    height: 96%;
    width: 40%;
    opacity: 1;
    background: none;
    color: black;
    border: none;
    font-size: large;
}

.carousel_arrow.left {
    z-index: 5;
    left: 2%;
    text-align: left;
}

.carousel_arrow.right {
    z-index: 5;
    right: 2%;
    text-align: right;
}

.in_popup {
    font-size: 1.5vh;
}

.teachers_container {
    text-align: center;
    display: block;
    justify-content: center;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.teacher {
    display: inline;
    height: 10vh;
    width: 250px;
    border: 3px solid rgb(105, 225, 255); /* Рамка вокруг текста */
    background-color: rgb(176, 228, 248);
    border-radius: 15px;
    margin: 13px;
    font-size: 2vh;
}

.teacher_inner_timetable {
    width: 100%;
}

.teacher:hover {
    background-color: rgb(152, 206, 228);
}
